extends layout

block head
  //- script(defer type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/sha256.min.js')
  script(defer type='text/javascript', src='/javascripts/authentication.js')
  
block content
  div.container(style="max-width: 800px")
    form#auth(method="post")
      div.form-group
        label(for="secret") #{i18n.__("Secret")}
        input#secret.form-control(type="password", name="secret")
        div.invalid-feedback #{i18n.__("Invalid secret")}
      input.btn.btn-primary(type="submit", value=i18n.__("Authenticate"))