body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li svg {
  color: #BBB;
}
li svg:hover {
  color: #444;
}

.table > tfoot > tr > td,
.table > tfoot > tr > th {
  border-top-width: 2px;
}

/* Prevents flickering of the google chart tooltip */
svg > g > g:last-child { pointer-events: none }