@font-face{
  font-family:'GeogrotesqueBold';
  src:url(../fonts/geogrotesque/geogrotesque-bold.woff2) format("woff2"),url(../fonts/geogrotesque/geogrotesque-bold.woff) format("woff");
  font-weight:normal;
  font-style:normal
}
@font-face{
  font-family:'GeogrotesqueMedium';
  src:url(../fonts/geogrotesque/geogrotesque-medium.woff2) format("woff2"),url(../fonts/geogrotesque/geogrotesque-medium.woff) format("woff");
  font-weight:normal;
  font-style:normal
}
@font-face{
  font-family:'GeogrotesqueLight';
  src:url(../fonts/geogrotesque/geogrotesque-light.woff2) format("woff2"),url(../fonts/geogrotesque/geogrotesque-light.woff) format("woff");
  font-weight:normal;
  font-style:normal
}
@font-face{
  font-family:'GeogrotesqueRegular';
  src:url(../fonts/geogrotesque/geogrotesque-regular.woff2) format("woff2"),url(../fonts/geogrotesque/geogrotesque-regular.woff) format("woff");
  font-weight:normal;
  font-style:normal
}
@font-face{
  font-family:'GeogrotesqueSemibold';
  src:url(../fonts/geogrotesque/geogrotesque-semibold.woff2) format("woff2"),url(../fonts/geogrotesque/geogrotesque-semibold.woff) format("woff");
  font-weight:normal;
  font-style:normal
}

body {
  padding: 0;
  font: 17px "GeogrotesqueRegular", Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

body > .container > h1{
  margin-top: 0;
}

h1{
  margin:40px 0 0.5em;
  font-family: "GeogrotesqueMedium",Arial,Helvetica,sans-serif;
  font-size:3em;
  text-transform:uppercase
}

header {
  max-width: 995px;
  margin: auto;
}

hr {
  margin-top: 0.8rem;
}

a {
  color: #00B7FF;
}

input[type="password"] {
  font: large Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

input.form-control:hover,
input.form-control:focus {
  border-color: #1391C4;
  outline: solid 1px #1391C4;
  box-shadow: none;
}

li svg {
  color: #BBB;
}
li svg:hover {
  color: #444;
}

.btn {
  border-radius: 0;
  font-family: "GeogrotesqueMedium", Arial, Helvetica, sans-serif;
}
.btn-primary {
  background: #1391C4;
  border: none;
}

.card {
  border-radius: 0;
}

.card btn {
  padding:2px;
  font-size: 1.1rem;
}

.fa-spinner {
  margin: 0 5px;
}

.form-control {
  border-radius: 0;
  transition: all .1s linear 0s;
}

.form-control.is-invalid {
  border-color: #DF3231 !important;
  outline-color: #DF3231 !important;
}
.form-control.is-invalid:focus {
  box-shadow: none;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.input-group-text {
  border-radius: 0;
}

.list-group-item {
  border-radius: 0 !important;
}

.modal-content {
  border-radius: 0;
}

.table > tfoot > tr > td,
.table > tfoot > tr > th {
  border-top-width: 2px;
}

.table .circle {
  display:inline-block;
  min-height:15px;
  min-width:15px;
  border-radius:50%;
  vertical-align: text-top;
}

#ballots {
  padding-top: 1.3rem;
}

/* Prevents flickering of the google chart tooltip */
svg > g > g:last-child { pointer-events: none }