@font-face{
  font-family:'GeogrotesqueBold';
  src:url(../fonts/geogrotesque/geogrotesque-bold.woff2) format("woff2"),url(../fonts/geogrotesque/geogrotesque-bold.woff) format("woff");
  font-weight:normal;
  font-style:normal
}
@font-face{
  font-family:'GeogrotesqueMedium';
  src:url(../fonts/geogrotesque/geogrotesque-medium.woff2) format("woff2"),url(../fonts/geogrotesque/geogrotesque-medium.woff) format("woff");
  font-weight:normal;
  font-style:normal
}
@font-face{
  font-family:'GeogrotesqueLight';
  src:url(../fonts/geogrotesque/geogrotesque-light.woff2) format("woff2"),url(../fonts/geogrotesque/geogrotesque-light.woff) format("woff");
  font-weight:normal;
  font-style:normal
}
@font-face{
  font-family:'GeogrotesqueRegular';
  src:url(../fonts/geogrotesque/geogrotesque-regular.woff2) format("woff2"),url(../fonts/geogrotesque/geogrotesque-regular.woff) format("woff");
  font-weight:normal;
  font-style:normal
}
@font-face{
  font-family:'GeogrotesqueSemibold';
  src:url(../fonts/geogrotesque/geogrotesque-semibold.woff2) format("woff2"),url(../fonts/geogrotesque/geogrotesque-semibold.woff) format("woff");
  font-weight:normal;
  font-style:normal
}

body {
  padding: 0;
  font: 16px "GeogrotesqueRegular", Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

header {
  max-width: 1045px;
  margin: auto;
}

a {
  color: #00B7FF;
}

li svg {
  color: #BBB;
}
li svg:hover {
  color: #444;
}

.fa-spinner {
  margin: 0 5px;
}

.table > tfoot > tr > td,
.table > tfoot > tr > th {
  border-top-width: 2px;
}

.table .circle {
  display:inline-block;
  min-height:15px;
  min-width:15px;
  border-radius:50%;
  vertical-align: text-top;
}

/* Prevents flickering of the google chart tooltip */
svg > g > g:last-child { pointer-events: none }